/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html, body{
   font-family: 'Poppins', sans-serif;
   
   
}

#header{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-direction: row;
   margin-bottom: 80px;
   border: 100px;
  
}

a{
   text-decoration-line: none;

}

#header a{
   color: black;
}

ul{
   list-style: none;
    display: flex;
   flex-direction: row;
   gap: 40px;
   padding: 0;
   
}

.marque{
 display: flex;
 flex-direction: row;
 gap: 10px;
 padding-left: 40px;
}


.buttons-container{
   display: flex;
   flex-direction: row;
   gap: 30px;
   margin-left: 50px;
   
}

.buttons-container img{
   width: 50px;
   height: 50px;
   border-radius: 100%;
   border: 2px solid black;
   

}


.button{
   display: flex;
   text-decoration: none;
   color: white;
   background-color:blueviolet;
   border-radius: 8px;
   width: fit-content;
   padding: 8px 16px;
   border: 2px solid blueviolet;
   transition: all .3s ease-in-out;
}

#container{
   background-color: beige;
 
}

h1{
   display: flex;
   justify-content: center;
   align-items: center;
}

.cards{
   display: flex;
   justify-content: space-evenly;
   margin-top: 90px;
}

.card{
   display: flex;
   flex-wrap: wrap;
   width: 20%;
  
   height: fit-content;
   background-color: whitesmoke;
   border-radius: 5px;
   
}

.cards img{
   width: 100%;
   border-radius: 5px;
   
}

.price{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
}

footer{
   display: flex;
   justify-content: center;
   gap: 100px;
   align-items: flex-end;
}

