/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html, body{
   font-family: 'Poppins', sans-serif;
   
   
}

#header{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-direction: row;
  
}

a{
   text-decoration-line: none;

}

#header a{
   color: black;
}

ul{
   list-style: none;
    display: flex;
   flex-direction: row;
   gap: 40px;
   
}

.marque{
 display: flex;
 flex-direction: row;
 gap: 10px;
 padding-left: 40px;
}


.buttons-container{
   display: flex;
   flex-direction: row;
   gap: 15px;
   
}

.buttons-container img{
   width: 50px;
   height: 50px;
   border-radius: 100%;
   border: 2px solid black;
   

}


.button{
   display: flex;
   text-decoration: none;
   justify-content: center;
   background-color: blueviolet;
   border-radius: 8px;
   width: 250px; 
   padding: 15px;
}

h2{
   display: flex;
   justify-content: center;
   align-items: center;
}